* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*NAVIGATION*/
.nav-top {
    background-color: #000;
    text-align: center;
}

.nav-top li {
    display: inline-block;
    padding: 20px;
    letter-spacing: 2px;
}

.nav-top li a {
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.5s;
}

.nav-top li a:hover {
    color: rgb(0, 238, 255);
}

/*HEADER*/
.header-img {
    position: relative;
    height: 350px;
    background-image: url('../img/dumplings-3440155_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 85%;
}

.header-text {
    position: absolute;
    top: 250px;
    left: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgb(26, 25, 25);
}

/*MAIN*/
.fresh-food-img {
    position: relative;
    height: 450px;
    background-image: url('../img/vegies-2364221_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 85%;
}

.fresh-food-text {
    position: absolute;
    top: 250px;
    left: 30px;
    color: #fff;
    text-shadow: 3px 3px 5px rgb(26, 25, 25);
    font-weight: bold;
}

.fresh-food-text h3 {
    text-transform: uppercase;
}

.icon-img i{
    margin-right: 15px;
    color: #fff;
    transition: color 0.5s;
}

.icon-img i:hover {
    color:  rgb(0, 238, 255);
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

footer p {
    color: #fff;
}

.ftr-contact {
    height: 100px;
}

.ftr-copyright {
    height: 50px;
    border-top: 1.5px solid rgb(158, 157, 157);
}
