* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 35px;
    padding-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

/*NAVIGATION*/
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 60px;
    line-height: 60px;
    background-color: #000;
    text-align: center;
    z-index: 3;
}

.navbar li {
    display: inline-block;
    letter-spacing: 2px;
}

.navbar li a, .shopping-cart-ico a {
    padding: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.5s;
}

.navbar li a:hover, .shopping-cart-ico a:hover {
    color: rgb(0, 238, 255);
}

.nav-mobile-btn {
    display: none;
    position: absolute;
    left: 0;
    height: 60px;
    width: 60px;
    background: none;
    border: none;
}

.nav-mobile-btn i {
    color: #fff;
    font-size: 30px;
}

.shopping-cart-ico {
    position: absolute;
    right: 0;
}

/*HEADER*/
.header-img {
    position: relative;
    height: 470px;
    background-image: url('../img/polish-restaurant_img/dumplings-3440155_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 85%;
}

.header-text {
    position: absolute;
    top: 165px;
    left: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgb(26, 25, 25);
}

.header-text h1 {
    font-size: 55px;
}

.header-text p {
    margin-bottom: 20px;
}

.header-text p a, .farm-products-text p a {
    color: rgb(248, 129, 93);
}

/*MAIN*/
section {
    display: grid;
}

.image-bg-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* MAIN - styling the elements in the section with a class of about-us-section*/
.about-us-section {
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    grid-template-rows: repeat(9, minmax(90px, 5vw));
    margin-bottom: 20px;
}

.img-bg-1 {
    grid-column: 2 / 5;
    grid-row: 1 / 8;
}

.about-us-section h2 {
    grid-column: 1 / 8;
    grid-row: 1 / 3;
    background-color: tomato;
    text-align: right;
    padding: 50px; 
    font-size: 53px;
    font-weight: 900;
    z-index: -1;
}

.about-us-section p {
    grid-column: 5 / 8;
    grid-row: 3 / 7;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: bold;
}

.about-us-section span a, .food-subtext span a {
    color: rgb(248, 129, 93);
    text-decoration: none;
}

.img-bg-2 {
    grid-column: 8 / 11;
    grid-row: 3 / 10;
    margin-left: 15px;
}

.blue-sq {
    grid-column: 9 / 12;
    grid-row: 2 / 6;
    background-color: rgb(64, 233, 219);
    margin-left: 15px;
    z-index: -1;
}

.orange-sq {
    grid-column: 1 / 7;
    grid-row: 7 / 9;
    background-color: orange;
    z-index: -1;
}

/* MAIN - styling the elements in the section with a class of polish-food-section*/
.polish-food-section {
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    grid-template-rows: repeat(7, minmax(90px, 5vw));
    column-gap: 10px;
    position: absolute;
    background-color: tomato;
    background: linear-gradient(to right, white 50% , tomato 50%)
}

.pl-food-heading {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    word-spacing: 25px;
 }

 .food-txt-wrapper {
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    display: flex;
 }

.food-text-1, .food-text-2 {
    text-align: center;
    padding: 25px;
}

.food-text-1 p {
    padding-left: 150px;
}

.food-text-2 p {
    padding-right: 150px;
}

/*Setting grid for three images that are under the title "Polish Food"*/
.food-images {
    display: grid;
    grid-template-columns: repeat(11, minmax(96px, 1fr));
    grid-template-rows: repeat(9, minmax(90px, 5vw));
    column-gap: 10px;
}

.img-bg-3 {
    grid-column:  2 / 5;
    grid-row: 5 / 9;
}

.img-bg-4 {
    grid-column: 5 / 8;
    grid-row: 5 / 9;
}

.img-bg-5 {
    grid-column: 8 / 11;
    grid-row: 5 / 9;
}

.img-bg-3, .img-bg-4, .img-bg-5 {
    position: relative;
    z-index: 1;
}

.hero-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.img-bg-3:hover > .hero-overlay, .img-bg-4:hover > .hero-overlay, .img-bg-5:hover > .hero-overlay {
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: background-color .6s ease-in-out;
}

/*MAIN - styling the elements in the section with a class of meat-fish-section*/
.meat-fish-section {
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    grid-template-rows: repeat(7, minmax(90px, 5vw));
}

.img-bg-6 {
    grid-column: 1 / 6;
    grid-row: 1 / 8;
}

.meat-h2 {
    grid-column: 6 / 7;
    grid-row: 1 / 6;
    padding-left: 60px;
    z-index: 1;
}

.and-h2 {
    grid-column: 6 / 8;
    grid-row: 5 / 8;
    text-align: center;
    z-index: 1;
}

.fish-h2 {
    grid-column: 7 / 8;
    grid-row: 1 / 6;
}

.meat-h2, .fish-h2 {
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

.meat-h2, .and-h2, .fish-h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    background-color: tomato;
}

.img-bg-7 {
    grid-column: 8 / 13;
    grid-row: 1 / 8;
}

/*MAIN - styling the elements in the section with the class of farm-products-section*/
.farm-products-section {
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    grid-template-rows: repeat(5, minmax(90px, 5vw));
    column-gap: 10px;
    margin-bottom: 50px;
}

.blue-sq-2 {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
    background-color: rgb(64, 233, 219);
}

.img-bg-8 {
    grid-column: 2 / 5;
    grid-row: 2 / 6;
}

.img-bg-9 {
    grid-column: 5 / 8;
    grid-row: 2 / 6;
}

.farm-products-text {
    grid-column: 8 / 12 ;
    grid-row: 2 / 6;
    padding-left: 20px;
    padding-top: 25px;
}

.farm-products-text h2 {
    padding-bottom: 10px;
    font-size: 30px;
    color: rgb(185, 71, 51);
}

.farm-products-text p {
    padding-right: 10px;
}

.farm-products-text p a {
    text-transform: uppercase;
    font-weight: bold;
}

/*MAIN - styling the elements in the section with a class of fresh-food-bg*/
.fresh-food-bg {
    width: 100%;
    height: 450px;
    background-image: url('../img/polish-restaurant_img/vegies-2364221_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.fresh-food-text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(90px, 5vw));
    color: #fff;
    text-shadow: 5px 5px 5px black;
    transform: translateY(40%);
}

.food-subtext {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    padding-left: 25px;
}

.food-icons {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    font-weight: 550;
}

.fresh-food-text h3 {
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 10px;
}

.food-icons p a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
    transition: color 0.5s;
}

.fresh-food-text p a:hover {
    color: rgb(0, 238, 255);
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 15px;
    height: 165px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    color: #fff;
}

footer h3 {
    padding-bottom: 10px;
}

.icon-img i {
    margin-right: 15px;
    margin-bottom: 15px;
    color: #fff;
    transition: color 0.5s, transform 0.5s;
}
footer div li {
    list-style: none;
    padding-bottom: 5px;
}

footer div li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;  
}

.icon-img i:hover, footer div li a:hover {
    color:  rgb(0, 238, 255);
    transform: scale(1.5);
}

.ftr-copyright {
    height: 50px;
    line-height: 50px;
    border-top: 1.5px solid rgb(158, 157, 157);
}

/*****************************/
/*Below styling for: SHOPPING CART PAGE*/
/****************************/

/**Shopping Cart - NAVIGATION*/
.navbar-2 ul {
    display: flex;
    align-items: center;
    height: 45px;
    list-style: none;
    background-color: orange;
}

.navbar-2 li {
    border-right: 1px solid black;
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-2 li:nth-child(5) {
    border-right: none;
}

.navbar-2 li a {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    transition: color .5s;
}

.navbar-2 li a:hover {
    color: #fff;
}

/*Shopping Cart - MAIN - container*/
#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
    grid-template-rows: repeat(11, minmax(90px, 5vw));
    gap: 10px;
    padding: 20px;
}
.product-headings, .product-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}

.basket-heading {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
}

.basket-heading p a {
    text-decoration: none;
    color: #000;
}

.basket-heading p a:hover {
    text-decoration: underline;
}

.product-headings {
    grid-column: 1 / 9;
    grid-row: 2 / 3;
    justify-content: space-around;
    list-style: none;
}

.product-item {
    justify-content: space-between;
}

.product-item img {
    width: 180px;
    height: 150px;
}

.product-1 {
    grid-column: 1 / 9;
    grid-row: 3 / 5;
}

.product-2 {
    grid-column: 1 / 9;
    grid-row: 5 / 7;
}

.product-3 {
    grid-column: 1 / 9;
    grid-row: 7 / 9;
}

.product-4 {
    grid-column: 1 / 9;
    grid-row: 9 / 11;
}

.product-5 {
    grid-column: 1 / 9;
    grid-row: 11 / 13;
}

.product-item p:nth-child(4) > input {
    width: 20px;
    height: 25px;
}

.product-item p:nth-child(4) > button {
    width: 40px;
    height: 25px;
}

.product-item p:nth-child(4) > button:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product-item p:nth-child(4) > button:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-item p:nth-child(6) > button {
    width: 110px;
    height: 30px;
}

.product-item p:nth-child(4) > button, .product-item p:nth-child(6) > button {
    cursor: pointer;
}

/*adjusting the position of the paragraph tags that are within the div with a class of product-item*/
.product-2 p:nth-of-type(1) {
    transform: translateX(55%);
}

.product-3 p:nth-of-type(1){
    transform: translateX(15%);
}

.product-4 p:nth-of-type(1){
    transform: translateX(45%);
}

.product-2 p:nth-of-type(2) {
    transform: translateX(30%);
}

.product-3 p:nth-of-type(2) {
    transform: translateX(10%);
}

.product-3 p:nth-of-type(3) {
    transform: translateX(5%);
}

.product-2 p:nth-of-type(3), .product-4 p:nth-of-type(3), .product-4 p:nth-of-type(2) {
    transform: translateX(20%);
}

/*Shopping Cart - MAIN - payment summary*/
.payment-summary {
    grid-column: 9 / 12;
    grid-row: 1 / 7;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 45px;
    padding: 10px;
    background-color: rgb(241, 241, 241);
    text-transform: uppercase;
}

.payment-summary h2 {
    padding-top: 5px;
    padding-bottom: 20px;
}

.payment-summary p {
    text-transform: initial;
    border-bottom: 1px solid rgb(148, 146, 146);
}

.payment-summary p i {
    color: green;
}

.total-price-table {
    border-collapse: collapse;
}

.total-price-table td {
    padding: 10px;
}

.total-price-table tr td:last-child  {
    text-align: right;
}

.total-price-table tr:last-child {
    text-align: right;
}

.total-price-table tr:last-child > td strong {
    font-size: 22px;
}

.total-price-table tr:nth-child(3) {
    border-top: 1px dashed rgb(148, 146, 146);
    border-bottom: 1px dashed rgb(148, 146, 146);
}

.coupon-add-btn, .checkout-btn {
    text-transform: uppercase;
    cursor: pointer;
}

.coupon-add-btn {
    padding: 3px 40px;
    background-color: #fff;
    border: 1px solid black;

}
.checkout-btn {
    margin-top: 20px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.payment-summary label {
    text-transform: initial;
    padding-top: 10px;
    padding-bottom: 5px;
}

.payment-summary select {
    padding: 5px;
    border: 1px solid #000;
}

/*****************************/
/*Below styling for: ONLINE PRODUCT LIST PAGE*/
/****************************/

#food-offer-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

/*Styles for the top part of the main tag with food offers and discounts to set the images in the grid*/
.top-food-offer {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(96px, 1fr));
    grid-template-rows: repeat(6, minmax(96px, 1fr));
    padding-top: 15px;
}

.food-offer-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.food-offer-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 7;
    background-image: url('../img/products_img/meatballs-2023247_640.jpg');
}

.food-offer-2 {
    grid-column: 5 / 7;
    grid-row: 1 / 4;
    background-image: url('../img/products_img/dumplings-4991224_640.jpg');
}

.food-offer-3 {
    grid-column: 7 / 9;
    grid-row: 1 / 4;
    background-image: url('../img/products_img/steak-1076665_640.jpg');
    color: #fff;
}

.food-offer-4 {
    grid-column: 5 / 7;
    grid-row: 4 / 7;
    background-image: url('../img/products_img/schnitzel-4081269_640.jpg');
}

.dark-img-square {
    grid-column: 7 / 9;
    grid-row: 4 / 7;
    background-color: #000;
    color: #fff;
}

.food-offer-bg {
    display: flex;
}

/*Styles for the images and text that contain Deal of the Day offer*/
.food-offer-2, .food-offer-4 {
    flex-direction: column;
    justify-content: space-between;
}

.deal-offer-heading {
    padding: 5px;
    width: 100px;
    background-color: #000;
    clip-path: circle(62.7% at 34% 36%);
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.deal-offer-heading p em {
    font-size: 22px;
    color: orange;
}

.discounted-food-text {
    padding: 10px;
    background-color: rgba(241, 240, 240, 0.8);
}

.discounted-food-text p {
    font-weight: bold;
    font-size: 23px;
}

.discounted-food-text p span {
    color: rgb(117, 117, 117);
    font-size: initial;
    text-decoration: line-through;
}

.discounted-food-text em span {
    color: rgb(211, 140, 9);
    font-weight: bold;
}

/*Styling of the text, in the top of the main tag, that contains offers for sizzling skillets and vegetarian food*/
.food-offer-3, .dark-img-square {
    justify-content: center;
    align-items:center;
    text-align: center;
    font-size: 35px;
    text-shadow: 3px 5px 3px black;
}

.food-offer-3 p, .dark-img-square p {
    text-transform: uppercase;
    line-height: 40px;
}

.food-offer-3 p span, .dark-img-square p span {
    font-size: 58px;
}

.food-offer-3 p em, .dark-img-square p em {
    font-size: 15px;
    text-transform: initial;
}
/*Styling for the bottom part of the main tag showing featured products with prices*/
.featured-poducts-heading h2 {
    padding: 20px;
    text-transform: uppercase;
    text-shadow: -3px -3px 3px rgb(99, 98, 98);
}

.bottom-featured-products figure {
    transition: transform 0.3s;
}

.bottom-featured-products figure:hover {
    transform: translateY(-15px);
}
.bottom-featured-products img {
    width: 260px;
    height: 260px;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.bottom-food-offer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.bottom-featured-products h3 {
    padding: 10px;
    width: 120px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background-color: orange;
    transform: translateY(-46px);
}

.food-view-title {
    width: 260px;
    transform: translateY(-35px);
}

.food-view-title p button {
    padding: 5px;
    cursor: pointer;
}

.food-view-title p button:first-child {
    color:#fff;
    background-color: #000;
}

.food-view-title p button:last-child {
    background-color: rgb(209, 228, 228);
    transition: transform 0.3s;
}

.food-view-title p button:last-child:hover {
    transform: scale(1.2);
}

.food-img-1 .food-view-title p, .food-img-2 .food-view-title p, .food-img-4 .food-view-title p, .food-img-7 .food-view-title p {
    transform: translateY(15px);
}

.food-img-3 .food-view-title p, .food-img-5 .food-view-title p, .food-img-6 .food-view-title p, .food-img-8 .food-view-title p {
    transform: translateY(30px);
}
