* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*NAVIGATION*/
.navbar {
    position: sticky;
    top: 0;
    background-color: #000;
    text-align: center;
    z-index: 1;
}

.navbar li {
    display: inline-block;
    padding: 20px;
    letter-spacing: 2px;
}

.navbar li a {
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.5s;
}

.navbar li a:hover {
    color: rgb(0, 238, 255);
}

/*HEADER*/
.header-img {
    position: relative;
    height: 350px;
    background-image: url('../img/dumplings-3440155_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 85%;
}

.header-text {
    position: absolute;
    top: 250px;
    left: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgb(26, 25, 25);
}

/*MAIN*/
main {
    margin: 0 auto;
    max-width: 960px;
}

/* MAIN - styling section with a class of about-us-section*/
.about-us-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
}

.img-bg-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    background-image: url('../img/regional-dishes-1329449_1280.jpg');
    background-size: cover;
    background-position: 30% 50%;
    width: 100%;
    height: 100%;
}

.about-us-section h2 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}

.about-us-section p {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
}

.img-bg-2 {
    grid-column: 6 / 10;
    grid-row: 1 / 3;
    background-image: url('../img/lemon-tea.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*separate DIV just above footer*/
.fresh-food-img {
    position: relative;
    height: 450px;
    background-image: url('../img/vegies-2364221_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 85%;
}

.fresh-food-text {
    position: absolute;
    top: 250px;
    left: 30px;
    color: #fff;
    text-shadow: 3px 3px 5px rgb(26, 25, 25);
    font-weight: bold;
}

.fresh-food-text h3 {
    text-transform: uppercase;
}

.menu-ico {
    position: absolute;
    display: inline-flex;
    left: 55%;
    top: 60%;
    color: #fff;
    font-weight: bold;
}

.menu-ico p {
    padding-right: 60px;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    font-size: 20px;
    text-transform: uppercase;
}

.menu-ico p a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;
}

.menu-ico p a:hover {
    color: rgb(0, 238, 255);
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 15px;
    height: 150px;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    color: #fff;
}

footer h3 {
    padding-bottom: 10px;
}

.icon-img i {
    margin-right: 15px;
    margin-bottom: 15px;
    color: #fff;
    transition: color 0.5s, transform 0.5s;
}
footer div li {
    list-style: none;
    padding-bottom: 5px;
}

footer div li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.5s;  
}

.icon-img i:hover, footer div li a:hover {
    color:  rgb(0, 238, 255);
    transform: scale(1.5);
}

.ftr-copyright {
    height: 50px;
    border-top: 1.5px solid rgb(158, 157, 157);
}

/*SHOPPING CART PAGE - TABLE*/
table {
    margin: 0 auto;
    padding: 20px;
}