/*max-width: 576px*/
@media (max-width: 576px) {
    .fresh-food-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30%;
        left: 50%;
        text-align: center;
    }

    .food-subtext {
        left: 5%;
    }

    .food-icons {
        top: 50px;
        left: 30%;
    }
}