/*max-width: 768px*/
@media (max-width: 768px) {
    /*NAVIGATION*/
    .nav-mobile-btn {
        display: initial;
    }

    .navbar li {
        display: none;
    }

    /*FOOTER*/
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 500px;
    }

    /*separate DIV just above footer*/
    .fresh-food-text {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 30%;
        left: 50%;
        text-align: center;
    }

    .food-subtext {
        position: absolute;
        left: 20%;
    }

    .food-icons {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        position: absolute;
        top: 50px;
        left: 40%;
    }

    .food-icons p {
        padding-left: 25px;
    }

}