/*max-width: 768px*/

/*****************************/
/*Below styling for: POLISH FOOD RESTAURANT PAGE*/
/****************************/
/*Styling the element in the section with a class of fresh-food-bg*/
.fresh-food-bg {
    height: 650px;
}

/*NAVIGATION*/
.nav-mobile-btn {
    display: initial;
}

.navbar li {
    display: none;
}

/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}

/*****************************/
/*Below styling for: ONLINE PRODUCT LIST PAGE*/
/****************************/

/*Setting grid columns and rows for the elements in the top part of the main tag with food offers and discounts*/
.top-food-offer {
    grid-template-rows: repeat(10, minmax(96px, 1fr));
}

.food-offer-1 {
    grid-column: 1 / 7;
    grid-row: 1 / 5;
}

.food-offer-2 {
    grid-column: 1 / 4;
    grid-row: 5 / 8;
}

.food-offer-3 {
    grid-column: 4 / 7;
    grid-row:  5 / 8;
}

.food-offer-4 {
    grid-column: 1 / 4;
    grid-row: 8 / 11;
}

.dark-img-square {
    grid-column: 4 / 7;
    grid-row: 8 / 11;
}
